module10/rofor-agent-tool/rofor-at-interface/src/main/resources/by.rofor.service.v1.types.supplier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:by:rofor:service:v1:types:supplier" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:by:rofor:service:v1:types:supplier" xmlns:commontypes="urn:by:rofor:service:v1:types"
	elementFormDefault="qualified" version="1.0.0">

	<xsd:import namespace="urn:by:rofor:service:v1:types" schemaLocation="by.rofor.service.v1.types.xsd" />

	<xsd:complexType name="GetAllSuppliersListRequestType">
		<xsd:annotation>
			<xsd:documentation>Get All Suppliers List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetAllSuppliersListResponseType">
		<xsd:annotation>
			<xsd:documentation>Get All Suppliers List Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Suppliers" type="tns:SupplierType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredSuppliersListRequestType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered Suppliers List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListRequestType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredSuppliersListResponseType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered Suppliers List Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListResponseType">
				<xsd:sequence>
					<xsd:element name="Suppliers" type="tns:SupplierType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredProductsListRequestType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered Products List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListRequestType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredProductsListResponseType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered Products List Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListResponseType">
				<xsd:sequence>
					<xsd:element name="Products" type="tns:ProductType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredEmailConfigsListRequestType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered EmailConfigs List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListRequestType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredEmailConfigsListResponseType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered EmailConfigs List Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListResponseType">
				<xsd:sequence>
					<xsd:element name="EmailConfigs" type="tns:EmailConfigType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredSheetConfigsListRequestType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered SheetConfigs List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListRequestType">
				<xsd:sequence>
					<xsd:element name="dependOn" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredSheetConfigsListResponseType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered SheetConfigs List Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListResponseType">
				<xsd:sequence>
					<xsd:element name="SheetConfigs" type="tns:SheetConfigType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredLettersListRequestType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered Letters List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListRequestType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetFilteredLettersListResponseType">
		<xsd:annotation>
			<xsd:documentation>Get Filtered Letters List Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseFilteredListResponseType">
				<xsd:sequence>
					<xsd:element name="Letters" type="tns:LetterType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CreateNewSupplierRequestType">
		<xsd:annotation>
			<xsd:documentation>Create New Supplier Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="Supplier" type="tns:SupplierType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CreateNewSupplierResponseType">
		<xsd:annotation>
			<xsd:documentation>Create New Supplier Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="SupplierId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateSupplierRequestType">
		<xsd:annotation>
			<xsd:documentation>Update Supplier Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="Supplier" type="tns:SupplierType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateSupplierResponseType">
		<xsd:annotation>
			<xsd:documentation>Update Supplier Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="SupplierId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteSuppliersRequestType">
		<xsd:annotation>
			<xsd:documentation>Delete Suppliers Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="SupplierId" type="xsd:long" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteSuppliersResponseType">
		<xsd:annotation>
			<xsd:documentation>Delete Suppliers Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="SupplierId" type="xsd:long" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SaveLetterRequestType">
		<xsd:annotation>
			<xsd:documentation>Save Letter Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="Letter" type="tns:LetterType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SaveLetterResponseType">
		<xsd:annotation>
			<xsd:documentation>Save Letter Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="LetterId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetAllUnprocessedLettersRequestType">
		<xsd:annotation>
			<xsd:documentation>Get All Unprocessed Letters Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetAllUnprocessedLettersResponseType">
		<xsd:annotation>
			<xsd:documentation>Get All Unprocessed Letters Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Letters" type="tns:LetterType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetLetterAttachmentsRequestType">
		<xsd:annotation>
			<xsd:documentation>Get Letter Attachments Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="letterId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetLetterAttachmentsResponseType">
		<xsd:annotation>
			<xsd:documentation>Get Letter Attachments Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Attachments" type="tns:AttachmentType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetEmailConfigBySenderRequestType">
		<xsd:annotation>
			<xsd:documentation>Get email config by sender request type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="sender" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GetEmailConfigBySenderResponseType">
		<xsd:annotation>
			<xsd:documentation>Get email config by sender request type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="emailConfig" type="tns:EmailConfigType" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SaveProductListRequestType">
		<xsd:annotation>
			<xsd:documentation>Save Product List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="Products" type="tns:ProductType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SaveProductListResponseType">
		<xsd:annotation>
			<xsd:documentation>Save Product List Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseStatusResponseType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateLetterRequestType">
		<xsd:annotation>
			<xsd:documentation>Update Letter Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="Letter" type="tns:LetterType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateLetterResponseType">
		<xsd:annotation>
			<xsd:documentation>Update Letter Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseStatusResponseType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateEmailConfigRequestType">
		<xsd:annotation>
			<xsd:documentation>Update Email config Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="EmailConfigId" type="xsd:long" />
					<xsd:choice>
						<xsd:element name="SupplierName" type="xsd:string" />
						<xsd:element name="Address" type="xsd:string" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateEmailConfigResponseType">
		<xsd:annotation>
			<xsd:documentation>Update Email config Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="EmailConfig" type="tns:EmailConfigType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AddSheetConfigRequestType">
		<xsd:annotation>
			<xsd:documentation>Add Sheet config Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="SheetConfig" type="tns:SheetConfigType" />
					<xsd:element name="EmailConfigId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AddSheetConfigResponseType">
		<xsd:annotation>
			<xsd:documentation>Add Sheet config Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="SheetConfigId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateSheetConfigRequestType">
		<xsd:annotation>
			<xsd:documentation>Update Sheet config Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="SheetConfigId" type="xsd:long" />
					<xsd:choice>
						<xsd:element name="sheetIndexes" type="xsd:string" />
						<xsd:element name="startRow" type="xsd:int" />
						<xsd:element name="articleColumns" type="xsd:string" />
						<xsd:element name="nameColumns" type="xsd:string" />
						<xsd:element name="statusColumns" type="xsd:string" />
						<xsd:element name="price" type="xsd:string" />
						<xsd:element name="noNdsPrice" type="xsd:string" />
						<xsd:element name="ndsPrice" type="xsd:string" />
						<xsd:element name="useSheetName" type="xsd:boolean" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpdateSheetConfigResponseType">
		<xsd:annotation>
			<xsd:documentation>Update Sheet config Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="SheetConfig" type="tns:SheetConfigType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteSheetConfigRequestType">
		<xsd:annotation>
			<xsd:documentation>Delete Sheet config Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="SheetConfigId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteSheetConfigResponseType">
		<xsd:annotation>
			<xsd:documentation>Delete Sheet config Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Status" type="commontypes:StatusType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteEmailConfigRequestType">
		<xsd:annotation>
			<xsd:documentation>Delete email config Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="EmailConfigId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteEmailConfigResponseType">
		<xsd:annotation>
			<xsd:documentation>Delete email config Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Status" type="commontypes:StatusType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteLetterRequestType">
		<xsd:annotation>
			<xsd:documentation>Delete letter Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="letterId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DeleteLetterResponseType">
		<xsd:annotation>
			<xsd:documentation>Delete letter Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Status" type="commontypes:StatusType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ResetLetterStatusRequestType">
		<xsd:annotation>
			<xsd:documentation>Reset letter status Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="EmailConfigId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ResetLetterStatusResponseType">
		<xsd:annotation>
			<xsd:documentation>Reset letter status Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Status" type="commontypes:StatusType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DownloadActualLetterRequestType">
		<xsd:annotation>
			<xsd:documentation>Download Actual Letter Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="SheetConfigId" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DownloadActualLetterResponseType">
		<xsd:annotation>
			<xsd:documentation>Download Actual Letter Response Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="excelFileData" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="IsNewLetterRequestType">
		<xsd:annotation>
			<xsd:documentation>is new letter request type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType">
				<xsd:sequence>
					<xsd:element name="emailAddress" type="xsd:string" />
					<xsd:element name="sentDate" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="IsNewLetterResponseType">
		<xsd:annotation>
			<xsd:documentation>Is new letter request type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="isNewLetter" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RemoveObsoleteDataRequestType">
		<xsd:annotation>
			<xsd:documentation>Remove obsolete data request type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseRequestType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RemoveObsoleteDataResponseType">
		<xsd:annotation>
			<xsd:documentation>Remove obsolete data request type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="commontypes:BaseResponseType">
				<xsd:sequence>
					<xsd:element name="Status" type="commontypes:StatusType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SupplierType">
		<xsd:annotation>
			<xsd:documentation>Supplier type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
			<xsd:element name="name" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EmailConfigType">
		<xsd:annotation>
			<xsd:documentation>Email config type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
			<xsd:element name="address" type="commontypes:emailAddress" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="supplier" type="tns:SupplierType" nillable="true" />
			<xsd:element name="ignoredSheets" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="sheetsConfig" type="tns:SheetConfigType" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="state" type="tns:LetterStateType" nillable="true"  />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SheetConfigType">
		<xsd:annotation>
			<xsd:documentation>Excel sheet config type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
			<xsd:element name="sheetIndexes" type="xsd:string" />
			<xsd:element name="startRow" type="xsd:int" />
			<xsd:element name="articleColumns" type="xsd:string" nillable="true" />
			<xsd:element name="nameColumns" type="xsd:string" />
			<xsd:element name="statusColumns" type="xsd:string" nillable="true" />
			<xsd:element name="priceColumn" type="xsd:string" nillable="true" />
			<xsd:element name="noNdsPriceColumn" type="xsd:string" nillable="true" />
			<xsd:element name="ndsPriceColumn" type="xsd:string" nillable="true" />
			<xsd:element name="userSheetName" type="xsd:boolean" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LetterType">
		<xsd:annotation>
			<xsd:documentation>Letter type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
			<xsd:element name="subject" type="xsd:string" />
			<xsd:element name="recieved" type="xsd:dateTime" />
			<xsd:element name="emailConfig" type="tns:EmailConfigType" />
			<xsd:element name="state" type="tns:LetterStateType" />
			<xsd:element name="attachments" type="tns:AttachmentType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AttachmentType">
		<xsd:annotation>
			<xsd:documentation>Attachment type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
			<xsd:element name="data" type="xsd:base64Binary" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProductType">
		<xsd:annotation>
			<xsd:documentation>Product type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
			<xsd:element name="article" type="xsd:string" nillable="true" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="status" type="xsd:string" nillable="true" />
			<xsd:element name="price" type="tns:MoneyType" nillable="true" />
			<xsd:element name="noNdsPrice" type="tns:MoneyType" nillable="true" />
			<xsd:element name="ndsPrice" type="tns:MoneyType" nillable="true" />
			<xsd:element name="category" type="xsd:string" nillable="true" />
			<xsd:element name="letter" type="tns:LetterType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="MoneyType">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="LetterStateType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEW" />
			<xsd:enumeration value="PROCESSING" />
			<xsd:enumeration value="PROCESSED" />
			<xsd:enumeration value="IGNORED" />
			<xsd:enumeration value="UNPROCESSED" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>